
<body class="">

  <!-- SideBar -->
  <nav class="navbar navbar-vertical fixed-left navbar-expand-md navbar-light bg-white" id="sidenav-main" *ngIf="showMenu()">
    <app-sidebar></app-sidebar>
  </nav>
  <!-- End SideBar -->

  <!-- Main-Content -->
  <div class="main-content">

    <!-- Navbar -->
    <app-navbar></app-navbar>
    <!-- End Navbar -->

    <!-- Conteiner -->
    <div class="conteiner bg-light">

          <router-outlet></router-outlet>

      <!-- Footer -->
      <app-footer></app-footer>

    </div>
     <!-- End Conteiner -->

    <!-- Logout Modal-->
    <div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Deseja realmente sair?</h5>
          <button class="close" type="button" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">×</span>
          </button>
        </div>
        <div class="modal-body">Selecione "Logout" abaixo se realmente deseja encerrar a sessão atual.</div>
        <div class="modal-footer">
          <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
          <a class="btn btn-nts" href="/login">Logout</a>
        </div>
      </div>
    </div>
  </div>
  <!-- Logout Modal -->

</div>
 <!-- End Main-Content -->

</body>


